<div id="<%= dom_id base_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Model type:</strong>
    <%= base_item.model_type_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Path:</strong>
    <%= base_item.path %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this base item", base_item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this base item', edit_base_item_path(base_item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
